{{#each dbArticle}}
  {{#unless saved}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{link}}</p>
        <p class="card-text">{{text}}</p>
        <button class="btn btn-primary" id="save" data-id={{_id}}>Save</button>
      </div>
    </div>
    <br>
  {{/unless}}
  {{else}}
    <h4>No articles yet!</h4>
{{/each}}

