<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Mongo Scraper</h1>
    <p class="lead">HackerRank Edition</p>
  </div>
  <hr>

  <div id="articles">
    {{#each dbArticle}}
      {{#unless saved}}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <a class="card-text" href={{link}}>Click here to Read!</a>
            <hr>
            <p class="card-text">{{text}}</p>
            <button class="btn btn-primary" id="save" data-id={{_id}}>Save</button>
          </div>
        </div>
        <br>
      {{/unless}}
      {{else}}
        <h4>No articles yet!</h4>
    {{/each}}
  </div>

</div>

{{!-- Modal for alerting number of scraped articles --}}
<div id="alertModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>You have scraped <span id="numArticles"></span> new articles</h2>
      </div>
    </div>
  </div>
</div>

{{!-- error modal --}}
<div id="error" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2>There was an error processing your request.  Please try again later.</h2>
      </div>
    </div>
  </div>
</div>